<div class="tab settings col-2" data-group="primary" data-tab="settings">

    <div class="left">
        <div class="column-1">
            <h3><u><b>Header</b></u></h3>

            <h3><u><b>Details</b></u></h3>
        </div>
        <div class="column-2">

        </div>
    </div>

    <div class="right">
        <div class="column-1">

        </div>
        <div class="column-2">
            <h3><u><b>Spells</b></u></h3>
            <div>
                <h4>{{ localize "SETTINGS.DisplaySpellsTab" }}</h4>
                <input type="checkbox" class="display-spells" name="system.settings.spells.display"
                    {{checked system.settings.spells.display}}>
            </div>
        </div>
    </div>

</div>