<div class="tab notes col-2" data-group="primary" data-tab="notes">
    <div class="notes-people sheet-container-box container-panel">
        {{!-- Allies & Organizations --}}
        {{> "systems/skjaald/templates/actors/parts/actor-textblocks.html" sections=allies}}
    </div>

    <div class="notes-additional sheet-container-box container-panel">
        {{!-- Notes --}}
        {{> "systems/skjaald/templates/actors/parts/actor-textblocks.html" sections=notes}}
    </div>

    <div class="notes-backstory sheet-container-box container-panel">
        {{!-- Backstory --}}
        {{> "systems/skjaald/templates/actors/parts/actor-textblocks.html" sections=backstory}}
    </div>
</div>